annotated-doc==0.0.4
appdirs==1.4.4
asttokens==3.0.1
decorator==5.3.1
executing==2.2.1
fake-bpy-module==20260501
ipdb==0.13.13
ipython==9.14.1
ipython-pygments-lexers==1.1.1
jedi==0.20.0
markdown-it-py==4.2.0
matplotlib-inline==0.2.2
mdurl==0.1.2
numpy==2.4.6
parso==0.8.7
pexpect==4.9.0
pillow==12.2.0
prompt-toolkit==3.0.52
psutil==7.2.2
ptipython==1.0.1
ptpython==3.0.32
ptyprocess==0.7.0
pure-eval==0.2.3
pygments==2.20.0
rich==15.0.0
shellingham==1.5.4
stack-data==0.6.3
toml==0.10.2
tqdm==4.68.1
traitlets==5.15.1
typer==0.26.7
uv==0.11.21
wcwidth==0.8.1
